/* Global */

body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding:0;
	font-family: 'Slabo 27px', serif;
}


.heading{
	text-align: center;
	color: white;
	background-color: black;
	padding: 10px 0 ;
	margin:0;
}

main{
	display: flex;
	flex-direction: column;
}

/* Header Section */

header{
	overflow:hidden;
	z-index: 9999;
	position:fixed;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.7);
}

.webpage_logo{
	flex:1;
	display: flex;
	padding: 0 10px;
}

header h1{
	color: white;
	margin: 0px;
	font-size: 40px;
}

nav{
	display: flex;
	padding: 0 10px;
	flex:1;

}
nav ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin:0;
	height: 100%;
}

nav li{
	font-size: 30px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
}

/* Hamburger Menu Button */

label{
	margin: 0 4vw 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
}

#toggle{
	display: none;
}

.webpage_logo{
	display: flex;
	justify-content: space-around;
}

.nav_link{
	text-decoration: none;
	color: #002266;
}

.link_1:visited,.link_2:visited,.link_3:visited,.link_4:visited,.link_5:visited{
	color:black;
}


.nav_link:hover{
	color:#002266;
	text-decoration: underline;
}

/* Hero Section */

.hero_image{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/hero.jpg");
	height:100vh;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero_text{
	text-align: center;
	position: relative;
	top: 60%;
	font-size: 40px;
	color: white;
}

/* Trophy Section */
.trophy{
	height: auto;
	width: 100%;

}

.news,.trophy_sec{
	background-color: black;
}

/* News Section */
.news{
	display: flex;
	align-items: flex-start;
	margin: auto;
	flex-wrap: wrap;
	background-image: url("../img/black_rma.png");
	background-size: 100%;
}
p{
	color: black;
}
.news_article{
	align-items:stretch;
	border: 1px solid #e6e6e6;
	margin:2px;
	flex:1  1 25%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color:rgba(245, 237, 246, .5);
}
.article_header{
	text-align: left;
	color: black;
	margin: 0;
}

.article_photo{
	flex:1.5;
	max-height:50%;
}

.article_para{
	flex:1;
	color: #black;
}

.first_capital{
	font-size: 1.5em;
}


/* Madridista Section */
.madridista{
	position: relative;
	width: 100%;
	display: block;
	overflow:hidden;
	background-color: #e6e6e6;
}
.madridista_text_banner{
	position: absolute;
	width: 75%;
}

.madridista_text{
	color: white;
	font-size: 4vw;
	width: 100%;
	position: relative;
	left: 3%;
}

.madridista_image{
	width: 100%;
	height: auto;
}

/* Footer Section */

footer{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color:#e6e6e6 ;
}

.footer_social i{
	text-decoration: none;
	min-height: 10%;
	min-width: 10%;
}

.footer_social{
	padding: 5vh 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #9d9d9d;
}

.footer_links{
	display: flex;
	padding: 5vh 0;
	text-align: center;
	flex-wrap: wrap;
	border-bottom: 1px solid #9d9d9d;
	border-top: 1px solid #9d9d9d;
}

.footer_links a {
	text-decoration: none;
	color: #9d9d9d;
	font-weight: bold;
	text-transform: uppercase;
	flex:1  1 10%;
}
.footer_links a:hover{
	text-decoration: underline;
}

.f_link{
	width: 100%;
	flex:1;
	display: flex;
	flex-direction: column;
}

/* Style the submit button */
input[type=submit] {
  background-color: #002266;
  color: white;
  border: none;
  position: relative;
  left: 3%;
  padding: 12px;
  margin: 1px 0;
  font-weight: bold;
  font-size: 1.5vw;
}

input[type=submit]:hover {
    opacity: 0.8;
}
/* Style Social buttons */

.fab{
	margin: 0px 1.3vw;
	padding:1vw; 
	font-size: 2vw;
	text-decoration: none;
	border-radius:2vw;
	color: white;
	background-color: #9d9d9d;
}

.footing{
	color: #9d9d9d;
	border-bottom: 1px solid #9d9d9d;
	margin:0;
	font-size: 14px;
	text-align: center;
	padding: 10px 0;
}

/* Media Queries */

@media only screen and (max-width: 991px){
	nav li{
		font-size: 24px;
	}
}


@media only screen and (max-width: 768px){
	/* Header */
	header{
		flex-wrap: wrap;
	}

	header,.news,footer{
		flex-direction: column;
	}
	

	nav {
		width: 100%;
	}

	nav li{
		width: 100%;
		text-align: center;
	}

	nav ul{
		justify-content:center;
	}
	
	/* Hamburger Menu */
	label{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		font-weight: bold;
		cursor: pointer;
	}
	
	.navi{
		display: none;
	}

	.navi:last-child{
		margin-bottom: 0;
	}

	header nav img{
		align-self: center;
	}

	nav input[type="checkbox"]:checked ~ .webpage_logo{
		/* justify-content:; */

	}

	nav input[type="checkbox"]:checked ~ .navi{
		display: flex;
	}

	/* Hero Section */
	.hero_text{
		font-size: 2.1em;
		top: 50%;
	}
	
	/* Trophy Room Section */
	.trophy{
		max-height: 100vh;
	}

	/* NEWS Section */

	.news_article{

		width: 100%;
		height: auto;
	}

	/*
	.webpage_logo{
		width: 50%;
		justify-content:space-between; 
	}
	 
	.webpage_logo img{
		max-width: 50px;
		height: auto;
		max-height: 65px;
	} */

	/* Footer Section */

	input[type="submit"]{
		font-size: 2vw;
		font-weight: normal;
	}

	.footer_social{
		justify-content: space-between;
		padding: 3vh 0;
	}

	.footer_social i{
		font-size: 1.5em;
	}

	.footer_links {
		flex-direction: column;
	}

	.footer_links a{
		margin:1vh 0;
	}
}
