body,html{
	height: 100%;
	margin: 0;
}

header{
	position:fixed;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
}

.webpage_logo{
	flex:1;
	display: flex;
	padding-left: 10px;
}

header h1{
	color: white;
	margin: 0px;
	font-size: 40px;
}

nav{
	padding: 0 10px;
	flex:10;
}
nav ul{
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
}

p{
	color: black;
}
nav li{
	font-size: 35px;
	padding-right: 10px;
	padding-left: 10px;
	display: inline;
	color: #002266;
}

.nav_link{
	text-decoration: none;
}

.nav_link:visited{
	color:#002266;
}

.nav_link:hover{
	color:#ffcc00;}

.hero_image{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/hero.jpg");
	height:100vh;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero_text{
	text-align: center;
	position: relative;
	top: 80%;
	font-size: 40px;
	color: white;
}

main{
	display: flex;
	flex-direction: column;
}

.news , footer{
	display: flex;
	align-items: center;
}

.news{
	height: 100vh;
	background-image:url("../img/black_rma.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 35%;
	background-color: #0e0e0e;
}

footer{
	display: flex;
	flex-direction: column;
	background-color: #003399;
}

.f_link_img,.footer_social{
	display: flex;
	justify-content: center;
}

.news_article{
	border: 1px solid silver;
	margin:3px;
	flex:1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: white;
}
.article_header{
	text-align: left;
	color: #003399;
}

.article_photo{
	flex:1.5;
	max-height:50%;
}

.article_para{
	flex:1;
	color: #002266;
}

.first_capital{
	font-size: 1.5em;
}

.f_link_img li, .footer_social li{
	text-decoration: none;
	display: inline;
}


@media(max-width: 991px){
	nav li{
		font-size: 24px;
	}
}


@media (max-width: 600px){
	header,.news,footer{
		flex-direction: column;
		flex-wrap: wrap;
	}
	nav {
		width: 100%;
	}
	nav ul{
		justify-content: space-around;
	}

	.webpage_logo{
		width: 100%;
		justify-content: space-around;
	}

	.webpage_logo img{
		max-width: 50px;
		height: auto;
		max-height: 65px;
	}
}
